<div class="container">
    <div class="row">
         <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <!-- <ul class="main-categories"> 
                    <li class="main-nav-list"><a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable"><span
                             class="lnr lnr-arrow-right"></span>Gender<span class="number">(5)</span></a>
                        <ul class="collapse" id="fruitsVegetable" data-toggle="collapse" aria-expanded="false" aria-controls="fruitsVegetable">
                            <li class="main-nav-list child"><a href="#">Male<span class="number">(13)</span></a></li>
                            <li class="main-nav-list child"><a href="#">Female<span class="number">(09)</span></a></li>
                            <li class="main-nav-list child"><a href="#">Kidz<span class="number">(17)</span></a></li>
                            
                        </ul>
                    </li>
                </ul> -->
            </div>
            <div class="sidebar-filter mt-50">
                <div class="top-filter-head">Product Filters</div>
                <div class="common-filter">
                    <div class="head">Brands</div>
                    <form method="GET" action="/all-product" >
                        <ul>
                            <li class="filter-list"><input value="" <%= brand === '' ? 'checked' : '' %> class="pixel-radio" type="radio" id="all-product"  name="brand"><label for="all-product">All Product</label></li>
                            <li class="filter-list"><input value="Nike" <%= brand === 'Nike' ? 'checked' : '' %> class="pixel-radio" type="radio" id="nike" name="brand"><label for="nike">Nike</label></li>
                            <li class="filter-list"><input value="Adidas" <%= brand === 'Adidas' ? 'checked' : '' %> class="pixel-radio" type="radio" id="adidas" name="brand"><label for="adidas">Adidas</label></li>
                            <li class="filter-list"><input value="NewBalance" <%= brand === 'NewBalance' ? 'checked' : '' %> class="pixel-radio" type="radio" id="New-Balance" name="brand"><label for="New-Balance">New Balance</label></li>
                            <button class="btn gray_btn"  type="submit" >apply</button>
                        </ul>
                    </form>
                </div>
                
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
           