<%- include('_userheader') %>

	
	
	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Forgot Password</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/forgotPassword">Forgot Password</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<!-- <div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/assets/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>Enjoy our offers and privilege by registering on our websit and loggin in </p>
							<a class="primary-btn" href="registration.html">Create an Account</a>
						</div>
					</div>
				</div> -->
				<div class="col-lg-12 ">
					<div class="login_form_inner">
						<h3>Forgot Password?</h3>
						<form class="row login_form mb-5" action="/send-otp" method="post" id="contactForm" novalidate="novalidate">
							
							<!-- <div class="col-md-3 form-group mb-3">
								<input type="tel" class="form-control" id="forCountry" name="forCountry" placeholder="+" onfocus="this.placeholder = ''" onblur="this.placeholder = '+91'">
							</div> -->
                            <div class="col-md-12 form-group mb-3">
								<input type="tel" class="form-control" id="forPhone" name="forPhone" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'">
							</div>
                            
							
							<div class="col-md-6 form-group">
								<!-- <button type="submit" value="submit" class="primary-btn resendOtp ">Resend OTP</button> -->
								
							</div>
                            <div class="col-md-6 form-group">
								<button type="submit" value="submit" class="primary-btn sendOtp">Send OTP</button>
								
							</div>

							<% if(locals.otpMessage){ %>
								<div id="msg" class="alert alert-danger">OTP send succesfully </div>
							 <% } %>  
							 <% setTimeout %>
						</form>
                        <form class="row login_form mb-5" action="/verify-otp" method="post" id="contactForm" novalidate="novalidate">
							
                            <div class="col-md-12 form-group">
								<input type="tel" class="form-control" id="forOtp" name="forOtp" placeholder="Enter OTP" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter OTP'">
							</div>

							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="forPassword" name="forPassword" placeholder="New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'">
							</div>
							
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Log In</button>
							</div>

							<% if(locals.verificationMessage){ %>
								<div id="msg" class="alert alert-danger"><%=locals.verificationMessage%></div>
							 <% } %>  
							 <% setTimeout %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<!-- start footer Area -->
	<%- include('_footerArea') %>
	<!-- End footer Area -->


	<script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/assets/js/vendor/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="/assets/js/jquery.nice-select.min.js"></script>
	<script src="/assets/js/jquery.sticky.js"></script>
	<script src="/assets/js/nouislider.min.js"></script>
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/assets/js/gmaps.min.js"></script>
	<script src="/assets/js/main.js"></script>


	<script> setTimeout(() => {
        document.getElementById("msg").style.display='none'
    },3000);</script>


	<%- include('_userfooter') %>